
/* Defines design styles for an article. Can be customized per feature. */

$serif: 'Minion W08', 'Minion Pro', Georgia, serif;
$sans-serif: 'Neue Helvetica W01',Helvetica Neue, Helvetica, Arial, sans-serif;
$margin-media: 3rem;
$margin-media-fallback: 48pt;
$margin-caption: .7rem;
$margin-caption-fallback: 12pt;

$color-background: #fff;
$color-text: #000;
$color-text-dim: rgba(0,0,0,.7);
$color-accent: #282e5c;
