
/* Defines design styles for an article. Can be customized per feature. */

$serif: "Chronicle SSm 3r",Georgia,Times,"Times New Roman",serif;
$serif-display: "Chronicle Display 3r",Georgia,Times,"Times New Roman",serif;
$serif-display-italic: "Chronicle Display 3i",Georgia,Times,"Times New Roman",serif;
$serif-italic: "Chronicle SSm 3i",Georgia,Times,"Times New Roman",serif;
$sans-serif: pragmatica-web,"Helvetica Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;;

$margin-media: 3rem;
$margin-media-fallback: 48pt;
$margin-caption: .7rem;
$margin-caption-fallback: 12pt;

$color-background: #f9f9f9;
$color-text: #000;
$color-text-dim: rgba(0,0,0,.7);
$color-accent: #282e5c;

$max-text-width: 45rem;

