@import "_baseline";
@import "_respond_to_width";
@import "_variables";
@import "_size_utilities";

@viewport {

	 width: device-width;
	 zoom: 1;

}

body {
	
 	@include respond-to-width(small) { 

		/* TODO: is this really required? */

		-webkit-text-size-adjust: 100%;

 	}
	
}


body.ngm {
	
	overflow-x: hidden;
	
	div#marginwrap {
	
		width: 100%;
		
		div#wrapper {
			
			width: 100%;
			
			.addthis_toolbox {
				
				float: none !important;
				
			}
			
			div.nav {
				
				@include respond-to-width(notlarge) {
				
					background: none;
				
				}
				
				div.subnav {

					@include respond-to-width(small) {

						font-weight: 700;
					
						ul {
							
							font-size: 0.0001rem;
							
							li {
								
								font-size: 1rem;
								line-height: 1.2rem;
								
								a {
									
									font-size: 1rem;
									font-weight: 700;
									
								}
								
							}	
							
							li:after {
									
									content: "\2022";
									font-size: 1rem;
									color: #191919;
									
							}
								
							li:last-child:after {
									
									content: "";
									
							}
								
						}
						
					}
					
				}
				
				div#tabs {
					
					@include respond-to-width(small) {
						
					    font-weight: 700;
					    line-height: 3;
					    display: none;
    
					}
					
				}
					
				div#subhead {
					
					@include respond-to-width(small) {
						
						display: none;
						
					}
					
					div#current_issue {
						
						@include respond-to-width(notlarge) {
							
							display: none;
							
						}
						
					}
					
					form#hdr_search {
						
						@include respond-to-width(notlarge) {

							display: none;
							
						}
						
					}
					
				}
				
			}
			
			div.narrow_side, div.narrow_sidert {
				
				/* padding: 1rem; */
			
			}
			
			div.narrow_sidert {
				
				display: none;	
				
			}
			
			div.narrow_side {
			
				display: none;
			
				float: none;
				text-align: center;
				width: inherit;
				
				@include respond-to-width(small) {
					
					display: none;
					
				}
				
				> div {
				
					display: inline;
					padding: 1rem;
					
				}	
				
				> div.clear {
					
					padding: 0;
					
				}
				
				> div.spacer, > div.line {
					
					display: none !important;
				
				}
				
				> div.navblocktxt, > div.navblock {
					
					float: none;
					display: inline-block;
					vertical-align: top;
					text-align: left;
					width: 40%;
    				max-width: 160px;
    				
    				> img {
    					
    					width: 100%;
    					height: auto;
    				
    				}
    				
				}
				
				> div.navblocktxt {
					
					display: none;
					
				}
				 
				> div.navblock {
					
					margin: 0.5rem;
					padding: 0 0 2rem 0;
									
				}
				
			}
						
			div.main_3narrow_wrap, div.main_2wide_nb {
				
				width: 100%;
				font-size: 1.2rem;
				padding: 0;
				margin: 0 auto;
				
				div.main_3narrow {

					padding: 0;
					margin: 0 auto;
					
					div.article_title {
					
						text-align: center;	
						
						span.published {
							
							float: none;
							
						}
						
    					margin: 1rem 0 0 0;
    
					}
					
					h2.title, h3.title {
					
						font-family: "Chronicle Display 3r",Georgia,Times,"Times New Roman",serif;
					
					}
					
					h1, h2.title {
						
						padding: 2rem 1rem;
						font-size: 4rem;
						line-height: 1.09em;
						margin: 0 auto;
						width: $max-text-width * 0.7;
						max-width: 70%;
						text-transform: normal;
						font-weight: 400;
						
						@include respond-to-width(small) {
							
							font-size: 2.5rem;
							width: $max-text-width * 0.8;
							max-width: 80%;
							
						}
						
					}
					
					h2, h3.title {
						
						font-size: 1.4rem;
						line-height: 1.4;
						padding: 1rem 1.5rem 2rem 1.5rem;
						margin: 0 auto;
						width: $max-text-width * 0.6;
						max-width: 60%;
						text-transform: none;
						font-weight: 400;
						
						@include respond-to-width(small) {
							
							width: $max-text-width * 0.8;
							max-width: 80%;
							
						}
						
					}
					
					h3 {
						
						font-family: pragmatica-web,"Helvetica Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;
						text-transform: uppercase;
						font-weight: 700;
						
					}
					
					
					div.article_credits_author, div.article_credits_photographer {
						
						font-family: "Chronicle Display 3i",Georgia,Times,"Times New Roman",serif;
						font-style: italic;
						text-align: center;
						font-size: 1.1rem;
						line-height: 1.4;
						
					}
					
					div.content {
						
						font-family: "Chronicle SSm 3r",Georgia,Times,"Times New Roman",serif;
					    font-size: 1.1rem;
					    line-height: 1.6;
						/* padding: 1rem; */
						padding: 0;
						
						@include respond-to-width(notsmall) {

						/*	padding: 2rem; */
							
						}
						
						em, i {
								
							font-family: "Chronicle SSm 3i",Georgia,Times,"Times New Roman",serif;
						
						}
						
						.intro {
						
							text-transform: uppercase;
						    font-weight: 700;
						    font-family: pragmatica-web,"Helvetica Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;
						    font-size: 0.9em;

						}
 						
 						.bio {
 							
 							font-family: "Chronicle SSm 3i",Georgia,Times,"Times New Roman",serif;
 							
 						}
 						
						> p, > div, > embed, > iframe {
						
							@extend .internal-function-width-text;
						
						}
						
						div.share-buttons {
							
						    float: none;
						    text-align: center;
						    margin: 3rem;		
						    display: block; 
							
						}

						div.video, div.photo {
							
							margin: 3rem auto;
							text-align: left;
							
							iframe, video {
								
								width: 100%;
								height: 100%;
								padding-bottom: 0.5rem;
								
							}
							
							> div {
								
								padding-bottom: 0.5rem;
								
							}
							
							img {
							
								width: 100%;
								height: auto;
								padding-bottom: 0.5rem;
								
							}
							
							.caption, .credit {
								
								display: inline-block;
								font-family: pragmatica-web,"Helvetica Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;
								font-size: 0.9rem;
								padding: 0 0.5rem 0.5rem 0;
								text-align: left;
								
							}
							
							.caption {
								 
								color: #000; 
								
							}
							
							.credit {
								 
								 text-transform: uppercase;
								 color: gray;
								 font-size: 0.7rem; 
								
							}
							
							.caption > span.credit {
								
								margin-left: 0.5rem;
							
							}
						
						}

					}
					
					div.featurepic {
					
						clear: both;
						
						img {
						/*	width: 100vh;
							max-width: 100%; */
							width: 100%;
							
							height: auto;
						}
						
						@extend .internal-function-width-text;
					 
					}
					
					div.subscribe {
						
						display: none;
						
					}
					
				}
				
		
			}
		
			div#footer {
				
				width: $max-text-width;
				max-width: 80%;
				margin:0 auto;	
				
				div.featured_packages img {
					
					width:100%;
					max-width: $max-text-width * 0.5;
				}
				
				
			}
		
		}
			
		div#global_footer {
			
			max-width: 80vw;
			
		}
			
	}

}

	