@import "_variables";

.align-center { 
	
	margin-left: auto;
	margin-right: auto;

}	

.align-left {

	margin-left: 0; 

}	

.display-small {

 	 @include respond-to-width(medium) {

 		display: none;	 	

 	 } 	 

 	 @include respond-to-width(large) {

 		display: none;	 	

 	 }
 	 
}

.display-medium {

 	 @include respond-to-width(small) {

 		display: none;	 	

 	 }

 	 @include respond-to-width(large) {

 		display: none;	 	

 	 }

}

.display-large {

 	 @include respond-to-width(small) {

 		display: none;	 	

 	 }

 	 @include respond-to-width(medium) {

 		display: none;	 	

 	 } 	

}

.display-no-small {

 	 @include respond-to-width(small) {

 		display: none;	 	

 	 }

}
.display-no-medium {

 	 @include respond-to-width(medium) {

 		display: none;	 	

 	 } 	 

}
.display-no-large {

 	 @include respond-to-width(large) {

 		display: none;	 	

 	 }

}


.float-right {
	
	float: none !important; 	
	
	@include respond-to-width(notsmall) {
		
		float: right !important; 
		clear: right;
		
	}
	
}

.float-left {
	
	float: none !important; 
	
	@include respond-to-width(notsmall) {
	
		float: left !important; 
		clear: left;	
			
	}
}

.internal-function-width-text {
	
    max-width: 90%;
    width: $width-text-max;
    
    margin-left: auto;
    margin-right: auto;
	
}



.width-cinematic {

	/* These are browser width values. */

	width: 100% !important; /* TODO fix this by using specific selectors. */
	max-width: 100% !important; /* TODO fix this by using specific selectors. */

	> p {
		
		margin-left: 0.5rem;
	
	}
	
}

.width-full {
	
	width: 90% !important ; /* TODO fix this by using specific selectors. */
	max-width: 90% !important; /* TODO fix this by using specific selectors. */
	
}

.width-text {
	
}

.width-wider {

	width: 1.2*$width-text-max !important;
	max-width: 90%;
	
}
	

.width-inset {
	
	max-width: 0.80*$width-text-max !important;
	width: 80% !important;
	
}

.width-locator {
	
	max-width: 15rem !important;
	
} 


