@import "_variables";

.align-center { 
	
	margin-left: auto;
	margin-right: auto;

}	

.align-left {

	margin-left: 0; 

}	

.display-small {

 	 @include respond-to-width(medium) {

 		display: none;	 	

 	 } 	 

 	 @include respond-to-width(large) {

 		display: none;	 	

 	 }
 	 
}

.display-medium {

 	 @include respond-to-width(small) {

 		display: none;	 	

 	 }

 	 @include respond-to-width(large) {

 		display: none;	 	

 	 }

}

.display-large {

 	 @include respond-to-width(small) {

 		display: none;	 	

 	 }

 	 @include respond-to-width(medium) {

 		display: none;	 	

 	 } 	

}

.display-no-small {

 	 @include respond-to-width(small) {

 		display: none;	 	

 	 }

}
.display-no-medium {

 	 @include respond-to-width(medium) {

 		display: none;	 	

 	 } 	 

}
.display-no-large {

 	 @include respond-to-width(large) {

 		display: none;	 	

 	 }

}


.float-right {
	
	float: none; 	
	
	@include respond-to-width(large) {
		
		clear: right;
		float: right; 
		margin-left: $margin-media;
		margin-right: $margin-media;
		
	}
	
}

.float-left {
	
	float: none; 
	
	@include respond-to-width(large) {
	
		clear: left;	
		float: left; 
		margin-left: $margin-media;
		margin-right: $margin-media;
		
	}
}

.internal-function-width-column {
	
    max-width: 90%;
    width: $width-text-max;
    
    margin-left: auto;
    margin-right: auto;
	
}



.width-cinematic {

	/* These are browser width values. */

	width: 100%; 
	max-width: 100%;  

	> p {
		
		margin-left: 0.5rem;
	
	}
	
}

.width-full {
	
	width: 90%;
	max-width: 90%; 
	
}

.width-text {
	
}

.width-wider {

	width: 1.2*$width-text-max;
	max-width: 90%;
	
}
	

.width-inset {
	
	width: 0.80*$width-text-max;
	max-width: 80%;
	
}

.width-locator {
	
	width: 15rem;
	max-width: 75%;
	
} 

.width-box {
	
	@include respond-to-width(large) {
	
		max-width: 75%;
		width: 0.40*$width-text-max;
	
	}
	
}

