@import "_baseline";
@import "_respond_to_width";
@import "_variables";
@import "_size_utilities";

@viewport {

	 width: device-width;
	 zoom: 1;

}

body {
	
 	@include respond-to-width(small) { 

		/* TODO: is this really required? */

		-webkit-text-size-adjust: 100%;

 	}
	
	div#tophat {
	
		line-height: initial;

		/* We will refine the ad behavior once we hear back from Advertising. 
		-CC 20150827 */
			
		div#header_ads {
			
			@include respond-to-width(small) {
				display: none;
			}
			@include respond-to-width(medium) {
				display: none;
			}
						
		}
		
		/* This corrects a strange amount of padding added to the top of the page. 
		I believe this link was intended for WAP clients. -CC 20150827 */
		
		p#skip_navigation {
		
			display: none;
			
		}
		
		/* This corrects a strange logo positioning bug in global nav on tablet/phone. 
		Will see if there's a better fix elsewhere, or file a GN bug. -CC 20150827 */
		
		.gn_logo-container--inline {
			
			top: 25%;
		
		}
		
	}
	
}


body.ngm {
	
	overflow-x: hidden;
	
	div#marginwrap {
	
		width: 100%;
		
		div#wrapper {
			
			width: 100%;
			
			.addthis_toolbox {
				
				float: none !important;
				
			}
			
			div.nav {

				display: none;
								
			}
			
			div.narrow_side, div.narrow_sidert {
				
				/* padding: 1rem; */
			
			}
			
			div.narrow_sidert {
				
				display: none;	
				
			}
			
			div.narrow_side {
			
				display: none;
			
				float: none;
				text-align: center;
				width: inherit;
				
				@include respond-to-width(small) {
					
					display: none;
					
				}
				
				> div {
				
					display: inline;
					padding: 1rem;
					
				}	
				
				> div.clear {
					
					padding: 0;
					
				}
				
				> div.spacer, > div.line {
					
					display: none !important;
				
				}
				
				> div.navblocktxt, > div.navblock {
					
					float: none;
					display: inline-block;
					vertical-align: top;
					text-align: left;
					width: 40%;
    				max-width: 160px;
    				
    				> img {
    					
    					width: 100%;
    					height: auto;
    				
    				}
    				
				}
				
				> div.navblocktxt {
					
					display: none;
					
				}
				 
				> div.navblock {
					
					margin: 0.5rem;
					padding: 0 0 2rem 0;
									
				}
				
			}
						
			div.main_3narrow_wrap, div.main_2wide_nb {
				
				float: none;
				font-size: 1.2rem;
				margin: 0 auto;
				padding: 0;
				width: 100%;
				
				div.main_3narrow {

					padding: 0;
					margin: 0 auto;
					
					a {

						border-bottom:1px solid #ffcc00;

					}

					a:hover {

						color:#999; 
						border-bottom:1px solid #999;

					}

					div.article_title {
					
						color: black;
						text-transform: uppercase;
						font-family: $font-sans-serif;
						font-size: .8em;
						font-weight: 300;
						line-height: 1.2em;
						margin: 3.5rem auto;
						text-align: center;
						width: $width-text-max;
						max-width: 80%;
						
						span.published {
							
							display: none;
							
						}
						    
					}

					h2.title {
						
						font-family: $font-serif-display;
						font-size: 4rem;
						font-weight: 400;
						line-height: 1.09em;
						margin: 0 auto;
						max-width: 80%;
						padding: 1.2rem;
						text-align: center;
						text-transform: normal;
						width: $width-text-max;
						
						@include respond-to-width(small) {
							
							font-size: 2.5rem;
							width: $width-text-max;
							max-width: 80%;
							
						}
						
					}
					
					h3.title {
						
						font-family: $font-sans-serif;
						font-size: 1.2rem;
						font-weight: 400;
						line-height: 1.4;
						margin: 0 auto;
						max-width: 60%;
						padding: 0;
						text-align: center;
						text-transform: none;
						width: $width-text-max;
						
						@include respond-to-width(small) {
							
							width: $width-text-max;
							max-width: 80%;
							
						}
						
					}
					
					h4 {
						
						font-family: $font-serif-display;
						width: $width-text-max;
						font-size:2.25rem;
						padding:0;
						margin:1.5rem auto;
						text-align:left;
						font-weight:700;
						color:#000;
						
					}
					
					
					div.article_credits_author, div.article_credits_photographer {
						
						font-family: $font-serif-display-italic;
						font-style: italic;
						text-align: center;
						font-size: 1.1rem;
						line-height: 1.4;
						
					}
					
					div.content {
						
						font-family: $font-serif;
					    font-size: 1.0rem;
					    line-height: 1.75;
						/* padding: 1rem; */
						padding: 0;
						margin-top: 3rem;
						
						
						@include respond-to-width(notsmall) {

						/*	padding: 2rem; */
							
						}
						
						em, i {
								
							font-family: $font-serif-italic;
						
						}

						.author {

							font-family: $font-serif-display-italic;
							text-align: left;
							font-size: 1.1rem;
							line-height: 1.4;
							font-weight: 200;

						}

						.published {

							font-family: $font-sans-serif;
							font-size: 12px; 
							text-transform: uppercase; 
							font-weight: 300; 
							color: #999; 
							text-align: left;
							padding: 0.5rem;

						}
						
						.intro {
						
							text-transform: uppercase;
						    font-weight: 700;
						    font-family: $font-sans-serif;
						    font-size: 0.9em;

						}
 						
 						.bio {
 							
 							font-family: $font-serif-italic;
 							
 						}

 						.quote {

 							text-align: left;
 							font-weight: 600;
 							font-family: $font-sans-serif;
 							color: #808080;
 							line-height: 2.5em;
							padding: 2rem 1rem;
							font-size: 2rem;
							line-height: 1.09em;
							margin: 0 auto;

 						}

 						.editors-note {

 							border: 1px solid #c9c9c9;
 							color: #999;
 							font-family: $font-sans-serif;
 							font-size: .875rem;
 							font-weight: 400;
 							line-height: 1.4;
 							margin: 3rem;
 							padding: 1rem 1.25rem;

 						}

 						hr {

 							width: $width-text-max * 1.2;
 							margin: 3rem auto;
 							padding: 0;
 							color: #c9c9c9;
 							max-width: 90%;

 						}
 						
						> p, > div, > embed, > iframe {
						
							@extend .internal-function-width-text;
						
						}
						
						div.share-buttons {
							
						    float: none;
						    text-align: left;
						    display: block; 
						    margin: 1rem auto;
						    
						    > div > a {
						    
						    	border: 0;
						    
						    }
							
						}
						
						div.box {
							
							border: 1px #ccc solid;

							> h1, > h2, > h3, > h4, > p {
								
								margin: 1.5rem;
								
							}
							
						}
						
						div.drawer {

			
							border-top: 1px #ccc solid;
							font-family: $font-sans-serif;
							font-weight: 500;
							font-size: 1.2rem;
							padding: 1rem;
							
							div.header {
								
								font-family: $font-sans-serif;
								font-size: 1.2rem;
								font-weight: 500;
								padding: 0;
								
								p {
								
									font-size: 1.2rem;
									font-weight: 700;
									padding: 0;
									margin: 0.25rem 0.5rem;
								
								}
													
								a {
									
									bottom: 0.5em;
									border: 0;
									float: right;
									text-decoration: none;
									font-size: 0.01rem;
									font-family: $font-sans-serif;
									font-weight: 300;
									transform: scale(1.5,1.0);
									padding-left: 1rem;
									padding-right: 0.5rem;
									position: relative;
															
								}
							
								a:after {
									
									bottom: 0.25rem;
									content: "\2227";
									color: #aaa;
									font-size: 1.5rem;
									position: relative;
								
								}

							}
														
							div.contents {
								
								font-size: 1.0rem;
								
							}
							
																					
						}

						div.drawer.closed {
								
							div.contents {
									
								display: none;

							}
								
							div.header {
							
								a:after {
									
									content: "\2228";
								
								}
							
							}							

						}
					
												

						div.promo-content {
							
							margin: 3rem auto;
							text-align: left;
							font-family: $font-sans-serif;
							color: #000;
							max-width: 90%;
							    
							h5, h6 {
							
								margin: 3rem 0;
								
							}
							

							h5 {
								
								width: $width-text-max;
								max-width: 90%;
								font-size: 1.75rem;
								line-height: 1.15em;
								font-weight: 600;
								padding-bottom: 0.5rem;
								
							}

							h6 {
								
								width: $width-text-max;
								max-width: 90%;
								font-size: 0.875rem;
								line-height: 1.15em;
								color: #808080;
								text-transform: uppercase;
								font-weight: 400;
								
							}

							> a {

								line-height: 1.5em;								
								margin-bottom: .25em;
								border-bottom: 1px solid #ffcc00;
								font-weight: 600;

							}

							> a:hover {

								color: #808080;
								border-bottom: 1px solid #808080;

							}
							
							img {
							
								width: 7.5rem;
								height: auto;
								float: left;
								margin: 0 1.25rem 1.25rem 0;
								clear: left;
								
							}
							
							.caption, .credit, p {
								
								display: block;
								font-family: $font-sans-serif;
								font-size: 0.9rem;
								padding: 0 0.5rem 0.5rem 0;
								
							}

							hr {

								width: 100%;
								margin: 1.25rem auto 2.5rem;

							}
													
						}

						div.video, div.photo {
							
							margin: 3rem auto;
							text-align: left;
							
							iframe, video {
								
								width: 100%;
								height: 100%;
								padding-bottom: 0.5rem;
								
							}
							
							> div {
								
								padding-bottom: 0.5rem;
								
							}
							
							img {
							
								width: 100%;
								height: auto;
								padding-bottom: 0.5rem;
								
							}
							
							.caption, .credit {
								
								display: inline-block;
								font-family: $font-sans-serif;
								font-size: 0.9rem;
								padding: 0 0.5rem 0.5rem 0;
								text-align: left;
								
							}
							
							.caption {
								 
								color: #000; 
								
							}
							
							.credit {
								 
								 text-transform: uppercase;
								 color: gray;
								 font-size: 0.7rem; 
								
							}
							
							.caption > span.credit {
								
								margin-left: 0.5rem;
							
							}
						
						}

					}
					
					div.featurepic {
					
						clear: both;
						border: 0 none;
						
						img {
						/*	width: 100vh;
							max-width: 100%; */
							width: 100%;
							height: auto;
						}
						
						@extend .internal-function-width-text;
					 
					}

					div.nextpage_continue {

						display:none;

					}
					
					div.subscribe {
						
						display: none;
						
					}
					
				}
				
		
			}
		
			div#footer {

				display: none;				
				
			}
		
		}
			
		div#global_footer {
			
			max-width: 80vw;
			
		}
			
	}

}

	