@import "_baseline";
@import "_respond_to_width";
@import "_variables";
@import "_size_utilities";

@viewport {

	 width: device-width;
	 zoom: 1;

}

body {
	
 	@include respond-to-width(small) { 

		/* TODO: is this really required? */

		-webkit-text-size-adjust: 100%;

 	}
	
	div#tophat {
	
		line-height: initial;

		/* We will refine the ad behavior once we hear back from Advertising. 
		-CC 20150827 */
			
		div#header_ads {
			
			@include respond-to-width(small) {
				display: none;
			}
			@include respond-to-width(medium) {
				display: none;
			}
						
		}
		
		/* This corrects a strange amount of padding added to the top of the page. 
		I believe this link was intended for WAP clients. -CC 20150827 */
		
		p#skip_navigation {
		
			display: none;
			
		}
		
		/* This corrects a strange logo positioning bug in global nav on tablet/phone. 
		Will see if there's a better fix elsewhere, or file a GN bug. -CC 20150827 */
		
		.gn_logo-container--inline {
			
			top: 25%;
		
		}
		
	}
	
}


body.ngm {
	
	overflow-x: hidden;
	
	div#marginwrap {
	
		width: 100%;
		
		div#wrapper {
			
			width: 100%;
			
			/* Social share buttons. */
			
			.addthis_toolbox {
				
				float: none !important;
				
			}
			
			/* The breadcrumbs above the article. */
			
			div.nav {

				display: none;
								
			}
			
			/* Right side promos from Cheetah. */
				
			div.narrow_side, div.narrow_sidert {
				
				display: none;	
			
			}
			
			/* Left side promos. 
			
			We are hiding this per latest designs. 
			
			I am retaining the styles in case this changes. -CC 2015-09-03 */
			 
			div.narrow_side {
			
				display: none;
			
				float: none;
				text-align: center;
				width: inherit;
				
				@include respond-to-width(small) {
					
					display: none;
					
				}
				
				> div {
				
					display: inline;
					padding: 1rem;
					
				}	
				
				> div.clear {
					
					padding: 0;
					
				}
				
				> div.spacer, > div.line {
					
					display: none !important;
				
				}
				
				> div.navblocktxt, > div.navblock {
					
					float: none;
					display: inline-block;
					vertical-align: top;
					text-align: left;
					width: 40%;
    				max-width: 160px;
    				
    				> img {
    					
    					width: 100%;
    					height: auto;
    				
    				}
    				
				}
				
				> div.navblocktxt {
					
					display: none;
					
				}
				 
				> div.navblock {
					
					margin: 0.5rem;
					padding: 0 0 2rem 0;
									
				}
				
			}
						
			/* This is the main class used by Cheetah for "three-column" (article) pages. */
			
			div.main_3narrow_wrap {
				
				float: none;
				font-size: 1.2rem;
				margin: 0 auto;
				padding: 0;
				width: 100%;
				
				div.main_3narrow {

					padding: 0;
					margin: 0 auto;
					
					a {

						border-bottom:1px solid $color-nat-geo;

					}

					a:hover {

						color:$color-nat-geo;  

					}

					div.article_title {
					
						color: black;
						text-transform: uppercase;
						font-family: $font-sans-serif;
						font-size: .8em;
						font-weight: 300;
						line-height: 1.2em;
						margin: 3.5rem auto;
						text-align: center;
						width: $width-text-max;
						max-width: 80%;
						
						span.published {
							
							display: none;
							
						}
						    
					}

					div.article_credits_author, div.article_credits_photographer {
						
						font-family: $font-serif-display-italic;
						font-style: italic;
						text-align: center;
						font-size: 1.1rem;
						line-height: 1.4;
						
					}
					
					div.content {
						
						font-family: $font-serif;
					    font-size: 1.0rem;
					    line-height: 1.75;
						/* padding: 1rem; */
						padding: 0;
						margin-top: $margin-media;
						
						> p:first-of-type {
							
						    margin-top: 2.5rem;

						}
						
						em, i {
								
							font-family: $font-serif-italic;
						
						}

						.author {

							font-family: $font-serif-display-italic;
							text-align: left;
							font-size: 1.1rem;
							line-height: 1.4;
							font-weight: 200;

						}
 						
 						.bio {
 							
 							font-family: $font-serif-italic;
 							
 						}
 							
 						.editors-note {

 							border: 1px solid #c9c9c9;
 							color: #999;
 							font-family: $font-sans-serif;
 							font-size: .875rem;
 							font-weight: 400;
 							line-height: 1.4;
 							margin: $margin-media;
 							padding: 1rem 1.25rem;

 						}
					
						.intro {
						
							text-transform: uppercase;
						    font-weight: 700;
						    font-family: $font-sans-serif;
						    font-size: 0.9em;

						}

						.published {

							font-family: $font-sans-serif;
							font-size: 12px; 
							text-transform: uppercase; 
							font-weight: 300; 
							color: #999; 
							text-align: left;
							padding: 0.5rem;

						}

 						.quote {

 							text-align: left;
 							font-weight: 600;
 							font-family: $font-sans-serif;
 							color: #808080;
 							line-height: 2.5em;
							padding: 2rem 1rem;
							font-size: 2rem;
							line-height: 1.2em;
							margin: 0 auto;

 						}

 						hr {

 							width: $width-text-max * 1.2;
 							margin: $margin-media auto;
 							padding: 0;
 							color: #c9c9c9;
 							max-width: 90%;

 						}
 						
						> p, > div, > embed, > iframe {
						
							@extend .internal-function-width-column;
							
							/* This is used to set the width of the text column. */
						
						}
						
						/* A wrapper container for additional social buttons. */
						
						div.share-buttons {
							
						    float: none;
						    text-align: left;
						    display: block; 
						    margin: 1rem auto;
						    
						    > div > a {
						    
						    	/* Remove underline from links. */
						    	
						    	border: 0;
						    
						    }
							
						}
						
						/* Place a box around a media object or promo container. */
						
						div.box {
							
							border: 1px $color-light-grey solid;

							> h1, > h2, > h3, > h4 {
								
								margin: 1.5rem;
								
							}

							> p {
								
								margin: 0;
								
							}	
											
						}
						
						/* Place a yellow header over a media object or promo container. */
						
						div.box-yellow {
							
							border-top: 1.5rem $color-nat-geo solid;

							> h1, > h2, > h3, > h4 {
								
								margin: 1.0rem 0 0 0;
								
							}
							
							> p {
								
								margin: 0;
								
							}
													
						}
						
						/* Place a collapsible drawer within a box or promo container. */
						
						div.drawer {

							border-top: 1px $color-lighter-grey solid;
							font-family: $font-sans-serif;
							font-weight: 500;
							font-size: 1.2rem;
							padding: 0.75rem 1.0rem;
							
							/* The header is the main title of the collapsible drawer. */
							
							div.header {
								
								font-family: $font-sans-serif;
								font-size: 1.2rem;
								font-weight: 500;
								padding: 0;
								text-decoration: none;
								
								p {
								
									font-size: 1.2rem;
									font-weight: 700;
									line-height: 1.4;
									padding: 0;
									margin: 0.25rem 0.5rem;
								
								}
													
								/* An anchor tag is used for the expand/collapse control. */
								
								a {
									
									bottom: 0.5em;
									border: 0;
									float: right;
									
									/* Hide its contents and use :after to show the control. */
									
									font-size: 0.01rem;
									font-family: $font-sans-serif;
									font-weight: 300;
    								line-height: 1.25;	
									padding-left: 1rem;
									padding-right: 0.5rem;
									position: relative;
									text-decoration: none;
									transform: scale(1.5,1.0);
															
								}
							
								a:after {
									
									bottom: 0.25rem;
									content: "\2227"; // looks like: ^
									color: #aaa;
									font-size: 1.5rem;
									position: relative;
								
								}

							}
								
							/* Contains the links or other collapsible content. */
													
							div.contents {
								
								font-size: 1.0rem;
								
								/* Keep each link in a ul->li. */
								
								ul {
									
									list-style-type: none;
									margin-bottom: 0;
									margin-left: 0.5rem;
									padding-left: 0;
									
									li {
										
										line-height: 2; // Make links easier to tap.
											
									}
										
								}
								
							}
																					
						}

						/* Display a subtle interface clue that this is clickable. 
						
						TODO: Mobile? */
						
						div.drawer.closed:hover {
					
							background-color: $color-lightest-grey;
							
						}

						/* Apply or remove .closed from a drawer to hide its contents. */
		
						div.drawer.closed {
								
							div.contents {
									
								display: none;

							}
								
							div.header {
							
								a:after {
									
									content: "\2228"; // looks like: V
								
								}
							
							}							

						}

						/* Special handling for the yellow-header style. */

						.box-yellow div.drawer:first-of-type {
							
							margin-top: 1rem;
							
						}	
						
						.box-yellow div.drawer:last-of-type {
							
							border-bottom: 1px $color-lighter-grey solid;
							
						}
						
						.box-yellow div.drawer {
							
							/* We don't have to provide space for the left/right box outline. */
							
							padding-left: 0;
							padding-right: 0;
							
							div.header {
								
								p {
									
									margin-left: 0;
									margin-right: 0;
									
								}
								
							}
							
							div.contents {
								
								ul {
									
									margin-left: 0;
									margin-right: 0;
									
								}
								
							}	
							
						}
						
						/* Style a container as a series promo--showing all parts of a series. */
						
						div.promo-series {
							
							font-family: $font-sans-serif;
							margin: $margin-media auto;
							
						}
						
						/* Style a container to show promos, optionally with thumbnails. */
						
						div.promo-content {
							
							margin: $margin-media auto;
							text-align: left;
							font-family: $font-sans-serif;
							color: #000;
							max-width: 90%;
							    
							.caption, .credit, p {
								
								display: block;
								font-family: $font-sans-serif;
								font-size: 0.9rem;
								padding: 0 0.5rem 0.5rem 0;
								
							}

							> a {

								line-height: 1.5em;								
								margin-bottom: .25em;
								border-bottom: 1px solid #ffcc00;
								font-weight: 600;

							}

							> a:hover {

								color: $color-nat-geo; 

							}
							
							h5, h6 {
							
								margin: $margin-media 0;
								
							}

							h5 {
								
								width: $width-text-max;
								max-width: 90%;
								font-size: 1.75rem;
								line-height: 1.15em;
								font-weight: 600;
								padding-bottom: 0.5rem;
								
							}

							h6 {
								
								width: $width-text-max;
								max-width: 90%;
								font-size: 0.875rem;
								line-height: 1.15em;
								color: #808080;
								text-transform: uppercase;
								font-weight: 400;
								
							}

							hr {

								width: 100%;
								margin: 1.25rem auto 2.5rem;

							}
							
							img {
							
								width: 7.5rem;
								height: auto;
								float: left;
								margin: 0 1.25rem 1.25rem 0;
								clear: left;
								
							}													
						}

						/* Style these containers for photos or video players.
						
						*/ 

						div.video, div.photo {
							
							margin: $margin-media auto;
							text-align: left;
							position: relative;
							
							iframe, video {
								
								width: 100%;
								height: 100%;
								padding-bottom: 0.5rem;
								
							}
							
							> div {
								
								padding-bottom: 0.5rem;
								
							}
							
							img {
							
								width: 100%;
								height: auto;
								padding-bottom: 0.5rem;
								
							}
							
							.caption, .credit {
								
								display: inline-block;
								font-family: $font-sans-serif;
								font-size: 0.9rem;
								padding: 0 0.5rem 0.5rem 0;
								text-align: left;
								
							}
							
							.caption {
								 
								color: #000; 
								
							}
							
							.credit {
								 
								 text-transform: uppercase;
								 color: gray;
								 font-size: 0.7rem; 
								
							}
							
							.caption > span.credit {
								
								margin-left: 0.5rem;
							
							}
						
						}

					}
					
					/* This is Cheetah's built-in style for the lede image. 
					
					We do not necessarily need to use it when building a story, but I include it here
					for maximum compatibility with older stories. */
					
					div.featurepic {
					
						clear: both;
						border: 0 none;
						position: relative;
						
						img {
						/*	width: 100vh;
							max-width: 100%; */
							width: 100%;
							height: auto;
						}
						
						/* It does not live inside the main content div, so set the text column. */
						
						@extend .internal-function-width-column;
					 
					}
					
					/* Cheetah's next/previous page controls for paginated articles. */
					
					div.nextpage_continue {

						display:none;

					}
					
					/* Make any object into an overlay for media.
					
					Place this div inside the media container, at the end. 
					
					Example: 	<div class="photo width-cinematic">
									<img src="cats.jpg">
									<div class="overlay"><h1 class="title">Headline</h1></div>
								</div>
					
					*/
					
					div.overlay {
						
						color: #fff;
						position: absolute; // Note that parent container must have position: relative.
						top: 35%;
						text-align: center;
						text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.5);
 						width: 100%;
 						
						@include respond-to-width(small) {

							/* On mobile, display the overlay inline, below the media, instead of overlayed. */
							
 							position: static;
 							color: inherit;
 							text-shadow: none;
 							
						}				
 						
 						/* Current designs remove these bylines. 2015-09-03 CC */
 						
 						.article_credits_author, .article_credits_photographer {
 							
							@include respond-to-width(medium) {
								
	 							color: rgba(255,255,255,0.75);
								
							}
							
 							@include respond-to-width(large) {
								
	 							color: rgba(255,255,255,0.75);
								
							}
 							
 						}
 							
					}						
					
					/* If the overlay is used over a particularly large image, make the typography larger and stronger. */
					
					.width-cinematic > div.overlay {
						
						h2.title {
						
								font-weight: 700;
								font-family: $font-serif-display-bold;
						
						}
						
						@include respond-to-width(large) {
							
							font-size: 2.0rem;
							
							h2.title {
								
								font-size: 6.0rem;
								
							}
							
							h3.title {
								
								font-size: 1.6rem;
								
							}
							
						}
						
					}	
										
					/* Cheetah's subscription promos. */
					
					div.subscribe {
						
						display: none;
						
					}
					
					/* Basic headline styles. */
					
					h1 {
						
						line-height: 1.3;
					
						font-size: 2.0rem;
					
						@include respond-to-width(small) {
				
							font-size: 1.75rem;		
						
						}
				
					}
					
					h2 {
						
						line-height: 1.4;
						
					}
					
					h2.title {
						
						font-family: $font-serif-display;
						font-size: 4rem;
						font-weight: 400;
						line-height: 1.2em;
						margin: 0 auto;
						max-width: 80%;
						padding: 1.2rem;
						text-align: center;
						text-transform: normal;
						width: $width-text-max;
						
						@include respond-to-width(small) {
							
							font-size: 2.5rem;
							width: $width-text-max;
							max-width: 80%;
							
						}
						
					}
					
					h3.title {
						
						font-family: $font-sans-serif;
						font-size: 1.2rem;
						font-weight: 400;
						line-height: 1.4;
						margin: 0 auto;
						max-width: 60%;
						padding: 0;
						text-align: center;
						text-transform: none;
						width: $width-text-max;
						
						@include respond-to-width(small) {
							
							width: $width-text-max;
							max-width: 80%;
							
						}
						
					}
					
					h4 {
						
						font-family: $font-serif-display;
						width: $width-text-max;
						font-size:2.25rem;
						padding:0;
						margin:1.5rem auto;
						text-align:left;
						font-weight:700;
						color:#000;
						
					}
					
					h4.title {
						
						color: black;
						text-transform: uppercase;
						font-family: $font-sans-serif;
						font-size: 1em;
						font-weight: 300;
						line-height: 1.2em;
						margin: 3.5rem auto 1.5rem auto;
						text-align: center;
						width: $width-text-max;
						max-width: 80%;

					}
					
				}
				
		
			}
		
			/* The Cheetah built-in footer. */
		
			div#footer {

				display: none;				
				
			}
		
		}
			
		/* The real National Geographic footer. */
		
		div#global_footer {
			
			@extend .internal-function-width-column;
			
		}
			
	}

}