@charset "UTF-8";

/* Main DIV that holds the entire slideShow (one per slideShow) */
.inlineSlideShow{
	display: block;
	width: 100%;
	height: 666px;
	margin: auto;
	opacity: 1;
	/*background: none;*/
	position: relative;
	max-width: 748px; 
	margin-top: 3rem;
	margin-bottom: 3rem;
}


.inlineSlideShow  .slideShowHolder{ 
	width:100%;
	height:100%;
	position:absolute;
	/*background: none;*/
}
/* DIV that holds all of the actual slides (there's one slidesHolder per slideShow) */
.inlineSlideShow .slidesHolder{
	width:100%;
	height:100%;
	position:absolute;
	z-index:1000;
	overflow:hidden;
	margin:auto;
	left:0;
	right:0;
}
/* Div that holds each slide and its caption (one for each slide)  */
.inlineSlideShow .slideHolder{
	width:100%;
	height:100%;
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	overflow:hidden;
    /*pointer-events: none;*/
}
.inlineSlideShow .imageHolder{
	width:100%;
	height:100%;
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	top:0;
	overflow:hidden;
}

@media (max-width: 700px) {
    .ss-photocredit {
        color: rgb(137, 138, 141); 
        text-transform:uppercase; 
        font-style:normal;
        font-size:13px; 
        line-height:15px;

    }
}
@media (min-width: 701px) and (max-width: 1100px){
    .ss-photocredit {
        color: rgb(137, 138, 141); 
        text-transform:uppercase; 
        font-style:normal; 
        font-size:14px;
        line-height:15px;
    }
}
@media (min-width: 1101px) {
    .ss-photocredit {
        color: rgb(137, 138, 141); 
        text-transform:uppercase; 
        font-style:normal; 
        font-size:14px;
        line-height:15px;
    }
}

/* Div that holds the captionBar for a slide (one per slide) */
.inlineSlideShow  .captionBarHolder{
	position:relative;
	width:100%;
	/*height:25%;*/
	/*bottom:0%;*/
	/*background-color:#f3f3f3;*/
	z-index:1100;
}


@media (max-width: 900px) {
	
	.inlineSlideShow  .captionBarHolder{

		padding-top: 2rem;
		
	}
	
}

@media (max-width: 770px) {
    .inlineSlideShow .captionText{
        font-size: 0.9rem;
        color:gray;
        line-height: 20px;
        text-align: center;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: pragmatica-web, "Helvetica Neue", Heletica, Arial, sans-serif;
        color:rgb(51, 51, 51);
    }
}
@media (min-width: 771px) and (max-width: 1100px){
    .inlineSlideShow .captionText{
        font-size: 0.9rem;
        color:gray;
        line-height: 20px;
        text-align: center;
        margin-top: 10px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:16px;
        font-family: pragmatica-web, "Helvetica Neue", Heletica, Arial, sans-serif;
        color:rgb(51, 51, 51);
    }
}
@media (min-width: 1101px){
    .inlineSlideShow .captionText{
        font-size: 0.9rem;
        color:gray;
        line-height: 20px;
        text-align: center;
        margin-top: 10px;
        margin-left:0px;
        margin-right:0px;
        margin-bottom:16px;
        font-family: pragmatica-web, "Helvetica Neue", Heletica, Arial, sans-serif;
        color:rgb(51, 51, 51);
    }
}
.inlineSlideShow .pageCountHolder{
    margin:auto;
    left:0;
    right:0;
    /*bottom:17px;*/
    position:relative;
    text-align:center;
}
@media (max-width: 500px){
    .inlineSlideShow .pageCount{
        font-size: 12px;
        color: gray;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        /*top:-66px;*/
        position:relative;
        /*display:inline-block;*/
        line-height:27px;
        font-family: pragmatica-web, "Helvetica Neue", Heletica, Arial, sans-serif;
    }
    .inlineSlideShow .iconBesidePagecount{
        position:relative;
        /*margin:20px auto;*/
        display:none;
        cursor:pointer;
    }
}
@media  (min-width: 501px) and (max-width: 700px){
    .inlineSlideShow .pageCount{
        font-size: 12px;
        color: gray;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        /*top:-66px;*/
        position:relative;
        display:inline-block;
        font-family: pragmatica-web, "Helvetica Neue", Heletica, Arial, sans-serif;
    }
    .inlineSlideShow .iconBesidePagecount{
        position:relative;
        /*margin:20px auto;*/
        display:none;
        cursor:pointer;
    }
}
@media (min-width: 701px){
    .inlineSlideShow .pageCount{
        font-size: 12px;
        color: gray;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        position:relative;
        display:inline-block;
        font-family: pragmatica-web, "Helvetica Neue", Heletica, Arial, sans-serif;
    }
    .inlineSlideShow .iconBesidePagecount{
        position:relative;
        margin:20px auto;
        display:inline-block;
        cursor:pointer;
    }
}

@media (max-width: 900px){    
    .inlineSlideShow .arrowHolder{
        width:100%;
        /*height:6.5%;*/
        /*position:absolute;*/
        z-index:2000;
        margin-bottom:2%;
    }
    .inlineSlideShow  .arrowLeft{
        position:absolute;
        width:auto;
        height: 3rem;
        left:40px;
        right:auto;
        color:black;
        z-index:2000;
        padding: 0 2em;
    }
    .inlineSlideShow  .arrowRight{
        position:absolute;
        width:auto;
        height: 3rem;
        right:40px;
        left:auto;
        color:black;
        z-index:2001;
        padding: 0 2em;
    }
}
@media (min-width: 901px){
    .inlineSlideShow .arrowHolder{
        width:100%;
        /*height:14%;*/
        /*position:absolute;*/
        z-index:2000;
        margin-bottom:55%;
    }
    .inlineSlideShow  .arrowLeft{
        position:absolute;
        width:auto;
        height: 4rem;
        left:-80px;
        right:auto;
        cursor: pointer;
        color:black;
    }
    .inlineSlideShow  .arrowRight{
        position:absolute;
        width:auto;
        height: 4rem;
        right:-80px;
        left:auto;
        cursor: pointer;
        color:black;
    }
}

.inlineSlideShow .closeBtn{
	position:absolute;
	right:20px;
	top:20px;
	width:30px;
	height:30px;
}
.inlineSlideShow .openBtn{
	position:absolute;
	right:20px;
	bottom:20px;
	
}
div:focus{ 
    outline:0px solid transparent !important; 
}
/* On top of slidesHolder - holds the arrows and anything else that needs to be on top of slideShow   */






