

/*@media (max-width:350px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 460px;
    }
}
@media (min-width:351px) and (max-width:400px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 480px;
    }
}
@media (min-width:401px) and (max-width:450px){
    #slideShow1Div{
	   margin-bottom: 40px;
	   height: 540px;
    }
}
@media (min-width:451px) and (max-width:500px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 570px;
    }
}
@media (min-width:501px) and (max-width:580px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 650px;
    }
}
@media (min-width:581px) and (max-width:600px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 700px;
    }
}
@media (min-width:601px) and (max-width:640px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 730px;
    }
}
@media (min-width:641px) and (max-width:700px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 770px;
    }
}
@media (min-width:701px) and (max-width:730px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 820px;
    }
}
@media (min-width:731px) and (max-width:750px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 860px;
    }
}
@media (min-width:751px) and (max-width:800px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 870px;
    }
}
@media (min-width:801px) and (max-width:905px){
    #slideShow1Div{
	   margin-bottom: 0px;
	   height: 870px;
    }
}

@media (min-width:906px){
    #slideShow1Div{
	   margin-bottom: 40px;
	   height: 860px;
    }
}*/